<ng-container *ngIf="data$ | async as data">
  <div *ngIf="data.quiz as quiz">
    <div
      class="mb-8 flex flex-wrap items-center justify-between gap-x-8 font-semibold">
      <span>Question {{ data.currentIndex + 1 }}</span>
      <span>{{ data.time | secondsToDate | date: 'mm:ss' }}</span>
      <span>Score {{ data.quiz.score + (wasCorrect ? 1 : 0) }}</span>
    </div>
    <app-question-card
      [question]="quiz.questions[data.currentIndex]"
      (onAnswer)="answerQuestion($event)"></app-question-card>
  </div>
</ng-container>
